{% extends "base.html" %}

{% block title %}Login — FindBack{% endblock %}

{% block content %}

<section class="auth-page">

    <div class="auth-container">

        <div class="auth-brand">

            <div class="auth-logo">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>

            <h1>Welcome <span>back.</span></h1>

            <p>
                Sign in to report found items, track your submissions,
                and help reunite belongings with their owners.
            </p>

        </div>


        <div class="auth-card">

            <h2 class="auth-card-title">Sign In</h2>

            {% if error %}
            <div class="form-error">
                <span><i class="fa-solid fa-exclamation"></i></span>
                {{ error }}
            </div>
            {% endif %}

            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}

                <div class="input-group">
                    <label>Username</label>
                    <input
                        type="text"
                        name="username"
                        id="loginusername"
                        placeholder="Enter your username"
                        value="{{ username|default:'' }}"
                        autocomplete="username"
                        required
                    >
                </div>

                <div class="input-group password-group">
                    <label>Password</label>
                    <div class="password-wrap">
                        <input
                            type="password"
                            name="password"
                            id="loginpassword"
                            placeholder="Enter your password"
                            autocomplete="current-password"
                            required
                        >
                        <button type="button" class="show-pass-btn" onclick="togglePassword()">
                            <i class="fa-regular fa-eye-slash"></i>
                        </button>
                    </div>
                </div>

                <button type="submit" class="auth-btn">
                    Sign In
                    <span>→</span>
                </button>

            </form>


            <div class="auth-divider">
                <span>Don't have an account?</span>
            </div>

            <a href="{% url 'register' %}" class="register-link">
                Create an account
            </a>

        </div>

    </div>

</section>

{% endblock %}